<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content  color="medium">
  <ion-button (click)="refreshList()">Refresh List</ion-button>
  <ion-item *ngFor="let q of quote">
    
    <br>
    <ion-label class="disQ">
      ID: {{q.Id}}
      <br>
      Date: {{q.qDate}}
      <br>
      Name: {{q.qName}}
      <br>
      Address: {{q.qAddress}}
      <br>
      Email: {{q.qEmail}}
      <br>
      Number of Rooms: {{q.qNumofRooms}}
      <br>
      <ion-item *ngFor="let r of q.qRoom; let i = index">
        <ion-label class="disQ">
          Room {{i+1}}
          <br>
          <br>
          Type of Room: {{r.roomType}}
          <br>
          Width: {{r.roomWidth}}
          <br>
          Length: {{r.roomLength}}
          <br>
          Colour: {{r.roomColour}}
          <br>
          Type of Paint: {{r.roomPaintType}}
        </ion-label>
      </ion-item>
    </ion-label>
    <br>
    <ion-button color="danger" (click)="deleteOne(q._id)">Delete</ion-button>
    <ion-button [routerLink]="['/edit-quotation', q._id]">Go to edit</ion-button>
    <br>
  </ion-item>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>