ion-item{
  padding: 10px;;
}

ion-label,ion-input,ion-title{
  color: white;
  font-size:larger;
  margin: 25px;
}

.disQ{
  color: white;
  font-size:larger;
}

ion-button{
  font-size: larger;
  font-weight: bold;
}