<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-card>
      <ion-item>
        <ion-label>ID: </ion-label>
        <ion-input value={{idGen}} readonly></ion-input>
        <br>
      </ion-item>
      <ion-item>
        <ion-label>Date: </ion-label>
        <ion-input readonly value="{{today}}" [(ngModel)]="Quote.qDate" [ngModelOptions]="{standalone: true}"></ion-input>
        <br>
      </ion-item>
      <ion-item>
        <ion-label>Name: </ion-label>
        <ion-input type="text" [(ngModel)]="Quote.qName" [ngModelOptions]="{standalone: true}"></ion-input>
        <br>
      </ion-item>
      <ion-item>
        <ion-label>Address: </ion-label>
        <ion-input type="text" [(ngModel)]="Quote.qAddress" [ngModelOptions]="{standalone: true}"></ion-input>
        <br>
      </ion-item>
      <ion-item>
        <ion-label>Email: </ion-label>
        <ion-input type="text" [(ngModel)]="Quote.qEmail" [ngModelOptions]="{standalone: true}"></ion-input>
        <br>
      </ion-item>
      <ion-item>
        <ion-label>Number of rooms: </ion-label>
        <ion-input type="number" [(ngModel)]="Quote.qNumofRooms" [ngModelOptions]="{standalone: true}"
          (ngModelChange)="chRoom()"></ion-input>
        <br>
      </ion-item>
    </ion-card>

    <ion-card *ngFor="let r of Rooms; let i = index">
      <ion-title>Room {{i+1}}</ion-title>
      <br>
      <form class="form" [formGroup]="r">
      <ion-item>
        <ion-label>Type: </ion-label>
        <ion-input name="type" type="text" formControlName="roomType"></ion-input>
        <br>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>Width: </ion-label>
        <ion-input name="width" type="number" formControlName="roomWidth"></ion-input>
        <br>
      </ion-item>
      <ion-item>
        <ion-label>Length: </ion-label>
        <ion-input name="length" type="number" formControlName="roomLength"></ion-input>
        <br>
      </ion-item>
      <ion-item>
        <ion-label>Colour: </ion-label>
        <ion-input name="colour" type="text" formControlName="roomColour"></ion-input>
        <br>
      </ion-item>
      <ion-item>
        <ion-label>Paint: </ion-label>
        <ion-select formControlName="roomPaintType">
          <ion-select-option value="Standard - $24.99" name="paint">Standard - $24.99</ion-select-option>
          <ion-select-option value="Premium - $34.99" name="paint">Premium - $34.99</ion-select-option>
        </ion-select>
      </ion-item>
    </form>
    </ion-card>
  <div>
    <ion-button type="submit" (click)="save()">Save Quote</ion-button>
  </div>
  <div>
    <ion-button (click)="deleteAll()" type="submit">Delete All Quotes</ion-button>
  </div>
</form>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>