<ion-header>
  <ion-back-button defaultHref="/"></ion-back-button>
  <app-header></app-header>
</ion-header>

<ion-content>
  <br>
  <ion-title>Edit Quote</ion-title>
  <br>
  <form>
    <ion-card *ngFor="let q of oldQuote">
      <ion-item>
        <ion-label>ID: </ion-label>
        <ion-input required value="{{q.Id}}" [(ngModel)]="Quote.Id" [ngModelOptions]="{standalone: true}" readonly></ion-input>
        <br>
      </ion-item>
      <ion-item>
        <ion-label>Date: </ion-label>
        <ion-input required readonly value="{{q.qDate}}" [(ngModel)]="Quote.qDate" [ngModelOptions]="{standalone: true}"></ion-input>
        <br>
      </ion-item>
      <ion-item>
        <ion-label>Name: </ion-label>
        <ion-input required type="text" value="{{q.qName}}" [(ngModel)]="Quote.qName" [ngModelOptions]="{standalone: true}"></ion-input>
        <br>
      </ion-item>
      <ion-item>
        <ion-label>Address: </ion-label>
        <ion-input required type="text" value="{{q.qAddress}}" [(ngModel)]="Quote.qAddress" [ngModelOptions]="{standalone: true}"></ion-input>
        <br>
      </ion-item>
      <ion-item>
        <ion-label>Email: </ion-label>
        <ion-input required type="text" value="{{q.qEmail}}" [(ngModel)]="Quote.qEmail" [ngModelOptions]="{standalone: true}"></ion-input>
        <br>
      </ion-item>
      <ion-item>
        <ion-label>Number of rooms: </ion-label>
        <ion-input required type="number" value="{{q.qNumofRooms}}" [(ngModel)]="Quote.qNumofRooms" [ngModelOptions]="{standalone: true}"></ion-input>
        <br>
      </ion-item>
      <br>
      <ion-card *ngFor="let r of q.qRoom; let i = index">
        <ion-item>
          <ion-label>Type of Room: </ion-label>
          <ion-input type="text" value="{{r.roomType}}" [(ngModel)]="Quote.qRoom[i].roomType" [ngModelOptions]="{standalone: true}"></ion-input>
          <br>
        </ion-item>
        <ion-item>
          <ion-label>Width: </ion-label>
          <ion-input type="text" value="{{r.roomWidth}}" [(ngModel)]="Quote.qRoom[i].roomWidth" [ngModelOptions]="{standalone: true}"></ion-input>
          <br>
        </ion-item>
        <ion-item>
          <ion-label>Length: </ion-label>
          <ion-input type="text" value="{{r.roomLength}}" [(ngModel)]="Quote.qRoom[i].roomLength" [ngModelOptions]="{standalone: true}"></ion-input>
          <br>
        </ion-item>
        <ion-item>
          <ion-label>Colour: </ion-label>
          <ion-input type="text" value="{{r.roomColour}}" [(ngModel)]="Quote.qRoom[i].roomColour" [ngModelOptions]="{standalone: true}"></ion-input>
          <br>
        </ion-item>
        <ion-item>
          <ion-label>Paint: </ion-label>
          <ion-select value="{{r.roomPaintType}}" [(ngModel)]="Quote.qRoom[i].roomPaintType" [ngModelOptions]="{standalone: true}">
            <ion-select-option value="Standard - $24.99" name="paint">Standard - $24.99</ion-select-option>
            <ion-select-option value="Premium - $34.99" name="paint">Premium - $34.99</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card>
      <br>
      <br>
    </ion-card>
  </form>
  <div>
    <ion-button type="submit" (click)="update()">Update Quote</ion-button>
  </div>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>