ion-button{
  margin-left: 25px;
  font-size: larger;
  
}

ion-input{
  width:90%;
}

ion-label,ion-input, ion-title{
  color: white;
  font-size:larger;
  margin: 25px;
}

.label{
  font-size: larger;
  font-weight: bold;
}

ion-title{
  font-size:x-large;
  font-weight:bold;
}